*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "Recoleta";
    src: url(../fonts/Latinotype_Recoleta_Regular.otf);

}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
}
.title-main{
    font-size: 1.5rem;
    text-align: center;   
    text-transform: uppercase;
    font-weight: 600;
    
}
.text-link{
    color: #212529;
    text-decoration: none;
    transition: .3s;
}
.card-wrp{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem 1.5rem;
    padding: 5rem 0;

}
.card{
    display: flex;
    flex-direction: column;
    background: #abc480;
    align-items: center;
    padding:2rem;
    row-gap: 1.5rem;
    justify-content: center;
    border-radius: 1.5rem;
    transition: .3s;
    
}
.card:hover{
   background: #7f8c57;
}
.icon{
    width: 8rem;
    height: auto;
    transition: .3s;
}
.card:hover .icon{
    fill: #fff;
    
}
.card:hover .text-link{
    color: #fff;
    
}
img,svg{
    vertical-align: middle;
    max-height: 9rem;
}

.text{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.logo path{
    font-family: "Recoleta"; 
    
}

#rect {
    animation: slideOver 5s linear infinite;
  }
  
  @keyframes slideOver {
  
    0% {
      transform: translatey(0%);
    }
    100% {
        transform: translatey(100%);
      }
   
   
  }